
.list-container{
    overflow: hidden;
    width: 100%;

    & h2 {
        color: rgb(0, 47, 255);
        text-align: center;
    }
}

.list-container ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

    & > li {
        width: 15%;
        margin-bottom: 45px;
        margin-right: 5px;
        margin-left: 5px;
        text-align: center;
        display:inline-block;

        & p {
            padding-bottom: 3px;
            margin-bottom: 3px;
        }

        & img {
            clear: both;
            border-radius: 50%;
        }
        & > a  {
            word-break: break-all;
            color: #D33C40;
            display: block;
            text-align: center;
        }
    }
}
