
.movie-list-container{
    float: left;
    width: 49%;
    width: 49vwpx;
    overflow: hidden;
}

.movie-list-container ul{
    width:100%;
    list-style-type: none;
    margin: 0;
    padding: 0;

    & > li {
        width: 100%;
        margin-bottom: 10px;

        & img {
            margin-right: 10px;
        }
        & > a  {
            word-break: break-all;
            color: #D33C40;
            display: inline-block;
        }  
        & > a:first-child {
            margin-right: 10px;
            width: 95%;
        }
    }
}